<div class="game-board">
  <img src="eldritch_horror_map_resized.png" usemap="#Map"/>
  <map name="Map" id="Map">
    <area ng-repeat="location in locations" shape="circle" coords="{{locationCoords(location)}}" ng-click="fsm.emit('onClickLocation', [location.name])"/>
  </map>
  <div class="location-info" ng-repeat="location in locations" ng-style="getLocationInfoStyle(location)" ng-click="clickLocation(location)">
    <div class="player" ng-if="player.investigator.current_location === location.name">{{player.investigator.name}}</div>
    <!--
    <div class="defeated" ng-if="defeatedInvestigatorsAt(location)">
      <span ng-repeat="investigator in getDefeatedInvestigatorsAt(location)">
        {{investigator.name}} (defeated)
      </span>
    </div>
    <div class="gate-token" ng-if="location.gate">[G {{location.gate.omen}}]</div>
    <div class="clue-token" ng-if="location.clue">[C]</div>
    <div class="expedition-token" ng-if="location.expedition_token">[E]</div>
    <div class="monster-token" ng-if="location.monsters.length > 0">
      <div ng-repeat="monster in location.monsters">
	{{monster.name}} ({{monster.toughness}}) <span ng-show="monster.effects.reckoning">(R)</span>
      </div>
    </div> -->
  </div>
</div>
