<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Eldritch!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/jspm_packages/system.js") %>"></script>
    <script src="<%= static_path(@conn, "/config.js") %>"></script>
    <script>
      System.import('angular');
      System.import('angular-ui-router');
      System.import('lodash');
      System.import('js/app');
    </script>
  </head>

  <body>
    <div ui-view></div>
  </body>
</html>
