.lobby {
    .player-list {
	position: absolute;
	border: 1px solid black;
	height: 100%;
	width: 250px;
        padding: 10px;
	.player {
	    cursor: pointer;
	}
    }
    .chat-window {
	position: absolute;
	border: 1px solid black;
	bottom: 40px;
	left: 250px;
	right: 250px;
	overflow-y: auto;
    }
    .chat-input {
	position: absolute;
	clear: both;
	border: 1px solid black;
	bottom: 0;
	height: 40px;
	left: 250px;
	right: 250px;
    }
    .pregame-options {
	position: absolute;
	top: 20px;
	height: 50%;
	border: 1px solid black;
	left: 250px;
	right: 250px;
    }
    .rooms-list {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 250px;
	border: 1px solid black;
        padding: 10px;
	.room {
	    cursor: pointer;
	}
        .action-buttons {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
}