<div ng-if="!vm.showLobby">
  <form ng-submit="vm.enterLobby()">
    <input type="text" ng-model="vm.username" class="form-control" />
    <button type="submit" class="btn btn-primary">Submit</a>
  </form>
</div>
<div ng-if="vm.showLobby" class="lobby">
  <div class="title">
    <label>{{vm.currentRoom.name}}</label>
  </div>
  <div class="player-list">
    <div ng-repeat="player in vm.currentRoom.players" class="player">
      {{player}} <span ng-if="vm.currentRoom.admin === player"><i class="fa fa-star"></i></span>
    </div>
  </div>
  <div class="pregame-options" ng-if="vm.currentRoom.name !== 'lobby'">
    <div class="investigator" ng-repeat="investigator in investigators" ng-click="vm.clickInvestigator(investigator)">
      {{investigator.name}} {{vm.investigatorSelectedBy(investigator)}}
    </div>
  </div>
  <div class="entity-info" ng-if="vm.currentRoom.name !== 'lobby'">    
  </div>
  <div class="chat-window"
       ng-class="{'in-lobby': vm.currentRoom.name === 'lobby',
		 'in-game-room': vm.currentRoom.name !== 'lobby'}">
    <div class="chat-message" ng-repeat="message in vm.chatMessages" ng-class="{{message.styles}}">
      <span class="sender" ng-if="message.sender">[{{message.sender}}]:</span>
      <span class="message">{{message.msg}}</span>
    </div>
  </div>
  <div class="chat-input">
    <form ng-submit="vm.sendChatMessage()">
      <input type="text" class="form-control" ng-model="vm.chat_message" />
    </form>
  </div>
  <div class="rooms-list">
    <div ng-if="vm.showNewRoomForm">
      Name: <input type="text" ng-model="vm.newRoom.name" class="form-control" placeholder="Room Name" />
      Password: <input type="text" ng-model="vm.newRoom.password" class="form-control" placeholder="Password (optional)" />
      Max players: <input type="number" ng-model="vm.newRoom.max_players" class="form-control" />
      <a class="btn btn-success" ng-click="vm.createNewRoom()">Create</a>
      <a class="btn btn-danger" ng-click="vm.closeNewRoomForm()">Close</a>
    </div>
    <div ng-if="!vm.showNewRoomForm">
      <div ng-repeat="room in vm.rooms track by $index" class="room"
           ng-click="vm.clickRoom($index)" ng-class="{selected: vm.selectedRoom === room, current: vm.currentRoom.name === room}">
	{{room}}
      </div>
    </div>
    <div class="action-buttons" ng-if="!vm.showNewRoomForm">
      <hr/>
      <a href="" class="btn btn-primary" ng-click="vm.openNewRoomForm()">Create Room</a>
      <a href="" class="btn btn-success" ng-click="vm.joinSelectedRoom()">Join Room</a>
    </div>
  </div>
</div>
